*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
.cta-buttonY {
    background-color: #bbb;
    color: black;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease;
    text-shadow: none;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
}

.cta-buttonY::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background: #355E3B;
    transition: 0.4s ease;
    transform: translateX(-50%);
}

.cta-buttonY:hover::after {
    width: 80%;
}

.cta-buttonY:hover {
    color: white;
    background-color: #355E3B;
    transform: scale(1.05);
}


